@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

/* Variáveis de cores e fontes */
:root {
    --cor-primaria: #FFFFFF;
    --cor-secundaria: #FFD400;
    --preto-1: #141414;
    --preto-2: #1A1A1A;
    --preto-3: #000000;
    --fonte-primaria: 'SF Pro Display', sans serif;
}

/* Reset das margins e paddings */
* {
    margin: 0;
    padding: 0;
}

/* Início do Cabeçalho da página */
.cabecalho {
    font-family: var(--fonte-primaria);
    background-color: var(--preto-1);
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding: 3%;
}

.cabecalho_logo {
    color: var(--cor-secundaria);
    font-size: 1.5rem;
}

.cabecalho_nav {
    width: max-content;
}

.cabecalho_nav ul {
    display: flex;
    flex-direction: row;
    gap: 10%;
    list-style: none;
    width: 100%;
}

.cabecalho_nav a {
    text-decoration: none;
    color: var(--cor-primaria);
    font-size: 0.75rem;
    font-weight: lighter;
}

.cabecalho_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 160px;
    height: 10px;
}

.cabecalho_menu div {
    width: 30px;
    height: 100%;
    border-top: 2px var(--cor-primaria) solid;
    border-bottom: 2px var(--cor-primaria) solid;
}

/* Fim do Cabeçalho da página */

/* Início do Main/Conteúdo da página */
.conteudo {
    font-family: var(--fonte-primaria);
    background-color: var(--preto-1);
    color: var(--cor-primaria);
    width: auto;
}

/* Início do Home da página */
.conteudo_home_titulo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5% 10%;
}

.conteudo_home_design {
    font-size: 6rem;
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    font-weight: 500;
}

.imgDesign {
    height: 50px;
    margin-right: -18px;
}

.imgScroll {
    height: 150px;
}

.conteudo_home_descricao {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 350px;
}

.conteudo_home_descricao img {
    width: 55%;
    height: auto;
}

.conteudo_home_texto {
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    padding: 2% 3%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: space-between;
}

.home_texto_descricao {
    font-weight: 200;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem 0;
}

.texto_descricao_link {
    font-weight: 600;
    padding: 10px 20px;
    background-color: var(--cor-secundaria);
    width: 110px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--preto-3);
    text-decoration: none;
}

.texto_descricao_link img {
    height: 10px;
    width: auto;
}

.home_texto_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.texto_info_data {
    width: 130px;
}

.texto_info_projetos {
    width: 130px;
}

/* Fim do Home da Página */

/* Início dos Redirecionamentos da página */
.redirecionamentos {
    background-color: var(--cor-secundaria);
    padding: 6% 8%;
    width: 100%;
    box-sizing: border-box;
    width: auto;
}

.redirecionamentos a {
    text-decoration: none;
    color: var(--preto-3);
    font-size: 4rem;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.redirecionamentos div {
    width: 100%;
    padding: 2.5% 0;
}

.redirecionamentos img {
    width: 5%;
}

.redirecionamentos div:not(.redirecionamento_office_chair) {
    border-bottom: var(--preto-1) 1px solid;
}

/* Fim dos Redirecionamentos da página */

/* Início das descrições de Produtos  da página */
.produtos {
    background-color: var(--cor-primaria);
    color: var(--preto-3);
    padding: 10% 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 9.5rem;
    width: auto;
}

.produtos_principal,
.produtos_secundario {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.produtos_principal_card {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.produtos_principal_titulo {
    width: 27.7%;
}

.produtos_principal>img {
    width: 28%;
}

.produtos_principal_card img {
    width: 100%;
}

.produtos_texto_card {
    margin-top: 1.2rem;
    font-size: 0.95rem;
}

.principal_titulo {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.principal_texto {
    font-size: 0.95rem;
}

.produtos_secundario img {
    width: 50%;
}

.produtos_secundario_texto {
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1rem;
}

.secundario_titulo {
    font-size: 3rem;
    font-weight: 500;
}

.secundario_subtitulo,
.secundario_texto {
    font-size: 0.9rem;
}

/* Fim das descrições de Produtos  da página */

/* Início das descrições de Serviços  da página */
.servicos {
    box-sizing: border-box;
    background-color: var(--preto-1);
    color: var(--cor-primaria);
    width: 100%;
    padding: 10% 8%;
    width: auto;
}

.servicos_titulo {
    font-size: 4.2rem;
    font-weight: 400;
}

.servicos_cards {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 3.5rem;
    width: 100%;
    transition: 0.5s;
}

.servicos_card {
    width: 35%;
    background-color: var(--preto-2);
    height: 390px;
    padding: 3% 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cabecalho_card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 2rem;
}

.numero_card {
    font-weight: 200;
}

.conteudo_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.titulo_card {
    font-size: 3rem;
    font-weight: 200;
}

.descricao_card {
    font-size: 0.9rem;
    font-weight: 200;
}

.servicos_card:hover {
    transition: 0.5s;
    background-color: var(--cor-secundaria);
    color: var(--preto-3);
}

/* Fim das descrições de Serviços  da página */

/* Início dos Contatos da página */
.contato {
    background-color: var(--cor-secundaria);
    color: var(--preto-3);
    padding: 6% 9% 21% 9%;
    width: auto;
}

.contato_conteudo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.contato_conteudo_titulo {
    font-size: 6rem;
    font-weight: 500;
    width: 70%;
}

.contato_botao_contactar {
    width: 16%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
}

.contato_botao_contactar img {
    width: 12%;
}

/* Fim dos Contatos da página */

/* Fim do Main/Conteúdo da página */

/* Início do Rodapé da página */
.rodape {
    background-color: var(--cor-secundaria);
    color: var(--preto-3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--fonte-primaria);
    width: auto;
}

.rodape_conteudo {
    padding: 4% 0;
    border-top: 1px solid var(--preto-3);
    width: 83%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.rodape_logo {
    font-size: 1.6rem;
    font-weight: 700;
    width: 30%;
}

.rodape_nav {
    width: 30%;
}

.rodape_nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.rodape_nav a {
    text-decoration: none;
    color: var(--preto-3);
    font-size: 0.9rem;
}

.rodape_privacidade {
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* Fim do Rodapé da página */

/* Início da responsividade para 576px de largura */
@media (max-width: 576px) {    
    .cabecalho { 
        justify-content: space-between;  
    }

    .cabecalho_nav, .imgScroll {
        display: none;
    }

    .conteudo_home > div{
        padding: 0;
        flex-direction: column;
    }   

    .conteudo_home_design {
        margin-top: 3rem;
        font-size: 3.5rem;
    }

    .imgDesign {
        height: 30px;
        margin: 0;
    }

    .conteudo_home_descricao {
        height: auto;
    }

    .conteudo_home_descricao > img {
        margin-top: 2rem;
        margin-left: -2rem;
        width: 90%;
    }

    .conteudo_home_texto {
        width: 85%;
        margin: 1rem 0;
        font-size: 1.2rem;
        font-weight: 100;
    }

    .texto_descricao_link {
        width: 30%;
        padding: 4% 6%;
    }

    .redirecionamentos {
        padding: 15% 3%;
    }

    .redirecionamentos a {
        font-size: 2.5rem;
    }
    
    .redirecionamentos div {
        padding: 5% 0;
    }

    .produtos {
        padding: 30% 0 25% 0;
    }

    .produtos_principal {
        width: 90%;
        flex-direction: column;
        gap: 2rem;
    }
    
    .produtos_principal_card, .produtos_principal_titulo, .produtos_principal > img {
        width: 100%;
        gap: 1rem;
    }
    
    .produtos_texto_card {
        width: 70%;
        font-size: 1.2rem;
    }

    .produtos_principal_titulo {
        align-self: flex-start;
        width: 73%;
        order: 1;
    }
    
    .principal_titulo, .secundario_titulo {
        width: 75%;
        font-size: 2.5rem;
    }

    .principal_texto, .secundario_texto, .secundario_subtitulo {
        font-size: 1.2rem;
    }

    .produtos_secundario {
        flex-direction: column;
        gap: 2rem;
    }

    .produtos_secundario > *, .produtos_secundario > img {
        width: 100%;
    }

    .produtos_secundario_texto {
        gap: 2rem;
    }

    .servicos {
        padding: 25% 0 25% 3%;
    }

    .servicos_titulo {
        font-size: 2.5rem;
    }

    .servicos_cards {
        overflow-x: scroll;
        width: auto;
    }

    .servicos_card {
        width: auto;
    }

}