@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

:root {
    --cor-primaria: #FFFFFF;
    --cor-secundaria: #FFD400;
    --preto-1: #141414;
    --preto-2: #1A1A1A;
    --preto-3: #000000;
    --fonte-primaria: 'SF Pro Display', sans serif;
}

* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    font-family: var(--fonte-primaria);
    height: 70px;
    background-color: var(--preto-1);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0 3%;
}

.cabecalho_logo {
    color: var(--cor-secundaria);
    font-size: 1.2rem;
}

.cabecalho_nav ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
}

.cabecalho_nav a {
    text-decoration: none;
    color: var(--cor-primaria);
    font-size: 0.75rem;
    font-weight: lighter;
}

.cabecalho_menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 100%;
}

.cabecalho_menu div {
    width: 30px;
    height: 7px;
    border-top: 2px var(--cor-primaria) solid;
    border-bottom: 2px var(--cor-primaria) solid;
}

.conteudo {
    font-family: var(--fonte-primaria);
    background-color: var(--preto-1);
    color: var(--cor-primaria);
}

.conteudo_home_titulo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5% 10%;
}

.conteudo_home_design {
    font-size: 5rem;
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    font-weight: 700;
}

.imgDesign {
    height: 50px;
    margin-right: -18px;
}

#imgScroll {
    height: 150px;
}

.conteudo_home_descricao {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 350px;
}

.conteudo_home_descricao img {
    width: 55%;
    height: auto;
}

.conteudo_home_texto {
    box-sizing: border-box;
    width: 50%;
    height: 100%;
    padding: 2% 3%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: space-between;
}

.home_texto_descricao {
    font-family: var(--fonte-primaria);
    font-weight: 200;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem 0;
}

.texto_descricao_link {
    font-family: var(--fonte-primaria);
    font-weight: 600;
    padding: 10px 20px;
    background-color: var(--cor-secundaria);
    width: 110px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: var(--preto-3);
    text-decoration: none;
}

.texto_descricao_link img {
    height: 10px;
    width: auto;
}

.home_texto_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.texto_info_data {
    width: 130px;
}

.texto_info_projetos {
    width: 130px;
}

.redirecionamentos {
    background-color: var(--cor-secundaria);
    padding: 2% 10%;
}

.redirecionamentos a {
    text-decoration: none;
    color: var(--preto-3);
    font-family: var(--fonte-primaria);
    font-size: 3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.redirecionamentos div {
    width: 100%;
    padding: 3% 0;
}

.redirecionamentos img {
    width: 3%;
}

.redirecionamentos div:not(.redirecionamento_office_chair) {
    border-bottom: var(--preto-1) 1px solid;
}
